//colors
$blue: #1c88bf;
$dark-blue: #364051 ;
$dark-grey: #333;
$grey: #666;
$off-white:  #f7f7f7;
//font size
$font-size-large:1.8rem;
$font-size-small:1.4rem;
//spacing
$m-size: 1.6rem;
$s-size: .75* $m-size;
$l-size: 2* $m-size;
$xl-size: 3 * $m-size;
$desktop-breakpoint: 45rem;